.cafe-img {
    right: -8%;
    position: absolute;
    z-index: 1;
    width: 12%;
    height: 50%;

    img {
        height: 70%;
        width: 70%;
        object-fit: cover;
        object-position: 80% 0%;

    }
}