.img-block {
    display: flex;
    align-items: stretch;

    &--bg-blue {
        width: 50%;
        height: 90%;
        background-color: $primary-blue;
    }

    &__map {
        width: 65%;
        right: -12%;
        top: 25%;
        z-index: 1;
        position: absolute;

        img {
            width: 70%;
            max-width: 100%;
            height: auto;
        }
    }

    &__cafe {
        right: -5%;
        position: absolute;
        z-index: 1;
        width: 10%;
        height: 50%;

        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            -o-object-position: 80% 0%;
            object-position: 80% 0%;

        }
    }
}