// sección inferior
.section {
  display: flex;
  height: 70vh;

  &__left {
    position: relative;
    width: 70%;

    &.contacto {
      display: flex;
    }
  }

  &__right {
    width: 30%;
  }
}